*{
    margin: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 10px; */
    background-color: rgba(0, 255, 255, 0.441);
}
.container h2{
    text-align: center;
}
.mytable{
    width: 50%;
    margin: auto;
    font-size: 1.2rem;
}